
<h4>Enunciado TP - CodeAcademy Level 2</h4>
    <p>Los profesores del curso somos Product Owners que necesitamos una aplicación que cubra las necesidades de nuestro negocio.</p>
    <p>Por consultas para aclarar el enunciado que se detalla a continuación, deben contactarnos por slack o email.</p>
  <p>Necesitamos construir una interfaz web para ABM (Alta/Baja/Modificación) de Solicitudes de Atención Ciudadana de la Ciudad de Buenos Aires.</p>
  <p>Contamos con un set de datos con solicitudes de la población en formato CSV (Comma Separated Value).</p>
  <p>La solución debe ser una aplicación Ruby - Sinatra que cumpla con los siguientes puntos:</p>
<ul>
<li>Se deben crear los modelos de clase necesarios para resolver el problema.</li>
<li>Se deben persistir los objetos necesarios para resolver el problema utilizando YAML-STORE.</li>
<li>Inicialmente los repositorios de datos en formato ".yml " deben estar vacíos y se deben
inicializar importando los datos provistos en formato csv.</li>
<li>Se debe contar con una vista donde se muestre el enunciado del TP.</li>
<li>Se debe contar con un menú de navegación para acceder a las distintas secciones (soluciones a
los distintos puntos pedidos).</li>
<li>Se debe contar con una vista de contacto que contenga información sobre ustedes (incluyendo
foto de perfil).</li>
<li>Se debe aprovechar las ventajas de utilizar un layout.</li>
<li>Se debe dar feedback al usuario sobre las acciones realizadas en la aplicación. Por ejemplo, al crear una nueva solicitud, la aplicación me debería mostrar un mensaje de confirmación "Solicitud registrada correctamente”.</li>
<li>Se debe crear las rutas y vistas para obtener información y/o mostrar resultados que se piden en los diferentes enunciados.</li>
<li>Se debe utilizar un framework CSS (Bootstrap por ejemplo).</li>

<div class="form-row">
  <div class="form-group col-md-10">
  </div>

  <div class="form-group col-md-2">
    <a class="btn btn-primary" href="/" role="button">Back Home</a>
  </div>
</div>