
<div class="card">
  <h4 class="card-header">Juan Pablo Morelli</h4>
    <div class="card-body">
    <table class="table">
      <tbody>
        <tr>
          <td>
            <img src="images/jpm.png" width=%50>
          </td>
          <td>
            <p><li> Naci en Buenos Aires, CABA en Marzo de 1972 </li></p>
            <p><li> Vivo en el barrio de Villa Gral. Mitre, Buenos Aires </li></p>
            <p><li> Administrador de sistemas y Musico, mi instrumento principal es el bajo pero tambien toco piano, guitarra y   violin </li></p>
            <p><li>Ingrese a IBM en Marzo de 2011, para desempeñar las tareas de adminstrador de Tivoli Storage Manager (TSM) , como focal para la cuenta Cameron (USA).</li></p>
            <p><li>Actualmente integro el equipo de Hybrid Cloud Provisioning como DevOps Engineer, con tareas de automatizacion, mantenimiento, patching y desarrollo para la infraestructura de los servidores que proveen de maquinas virtuales en   IBM Cloud.</li></p>
          </td>
        </tr>
      </tbody>
      </table>
    </div>
    <div class="form-row">
      <div class="form-group col-md-10">
      </div>
      <div class="form-group col-md-2">
        <a class="btn btn-primary" href="/" role="button">Back Home</a>
      </div>
    </div>
</div>



