
<h2><p class ="text-center"> Bienvenido al portal de Atencion Ciudadana </p></h2>

<div class="form-row">
  <div class="form-group col-md-4"></div>
  <div class="form-group col-md-4">
    <img src="images/logo-atencion-ciudadana-portada-1.jpg" class="img-fluid" alt="Atencion Ciudadana">
  </div>
  <div class="form-group col-md-4"></div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <h4>About Me</h4>
    <p class="font-weight-light">Aqu&iacute; una breve rese&ntilde;a del autor del TP para referencia y seg&uacute;n requerimiento de uno de los puntos del mismo.</p>
    <div class="form-group col-md-2">
      <a class="btn btn-info" href="/about_me" role="button">About Me</a>
    </div>
  </div>
  <div class="form-group col-md-6">
    <h4>Enunciado TP</h4>
    <p class="font-weight-light">En esta sección se encuentra el enunciado del trabajo pr&aacute;ctico donde se establecen los requerimientos para la presentaci&oacute;n del mismo.</p>
    <div class="form-group col-md-2">
      <a class="btn btn-info" href="/about" role="button">About TP</a>
    </div>
  </div>
</div>