<div class="form-row">
  <div class="form-group col-auto">
    <h4> New Category:</h4>
    <h3><li><%= @new_cat %></li></h3> 
    <h4><p class="text-success">Category created successfully !</p></h4>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-auto">
    <a class="btn btn-primary" href="/all_categories" role="button">Back</a>
  </div>
</div>